//bottom.html【底标】
.bottom-ico {
    margin: 0 15px 50px 15px;
    text-align: center;
    font-size: 12px;
    background: url("https://img.91pintuan.com/client/wx_bottom_ico.png") no-repeat center 20px;
    background-size: 30%;
    a{
        display: inline-block;
        width: 30%;
        height: 90px;
        margin: 3%;
    }
}
//alert.html
.alert{
  background: #E7E4D0;
}