.myhc{background-color: #f0373d;height: 60px;color: white;text-align: center;line-height: 60px;margin-bottom: 25px;font-size: 20px;}
.main-b1{height: 50px;width: 100%;background: #fff;color: #595757;text-align: left;line-height: 50px;padding: 0px 15px 0px 20px;font-size: 14px;border: 0;box-shadow: none;outline: none;border-bottom: 1px solid #f4f5f9;}
.helpjt{float: right;height: 10px;margin-top: 20px;width: 8px;}
.sjjsp{background-color: #fff;border-top: 1px solid #dadadb;font-size: 13px;margin: 0; }
.sjjsspan{color: #595757;width: 52px;display: inline-block;height: 50px;line-height: 50px;}
.sjjs{background-color: #fff;padding-left: 15px;}
.sjimg{height: 80px;background-color: #fff;}
.sjimg img{width:50px;margin-top: 15px;}
.sjname{font-size: 13px;color: #898989;margin-left: 25px;vertical-align: -10px;color: #898989;}
.houbian{margin-left: 25px;color: #898989;}
.gfwx{border-bottom: 1px solid #dadadb;line-height: 50px;font-size: 13px;margin: 0;border-top: 1px solid #dadadb;}
.houbiansjjs{margin-left: 25px;color: #898989;word-wrap: break-word;}
.sjjsspan1{color: #595757;width: 52px;line-height: 50px;}
.sjjsp1{margin: 0;border-top: 1px solid #dadadb;}
.mymatop{
    margin-top: 25px;
}
.main_banners11, .main_banners11:hover, .main_banners11:focus, .main_banners11:active{
    height: 50px;
    width: 100%;
    background: #fff;
    color: #595757;
    text-align: left;
    line-height: 50px;
    padding: 0px 15px 0px 20px;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #f4f5f9;
}
.yhtx1{
    height: 40px;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}
.yhspan{
    float: right;
    color: #f0373d;
}
