.intro-banner {
  padding:3%;
  background:#EF4453;
  margin:auto;
  color:#fff;
}
.intro-function{
  padding:20px 0;
}
.m-footer {
  border-top:solid 1px #C9CACA;
  margin-top:20px;
  padding-top:15px;
  padding-bottom:15px;
  background:#EFEFEF;
}
.m-bottom-img {
  height:34px;
  margin-top:15px;
}
.intro-step .col-xs-10{
  padding-top:18px;
  padding-right:30px;
}
.intro-step .row:last-child{
  padding-bottom:20px;
}
.c9caca{
  color:#c9caca;
}

