.no-load {
margin:80px auto;
}
.no-load div {
background-position:43%;
margin-bottom:15px;
}
.org-group {
color:#595757;
font-size:18px;
}
.rightb{
    float: right;
    margin-right: 10px;
    font-size: 13px;
    color: #f0373d;
}
.par1{
    background-color: #f4f5f9;
    padding: 10px;
}
.par2{
    background-color: #fff;
    padding-bottom: 0;
    padding-top: 3px;
}
.par3{
   margin-left: 10px;
   font-size: 13px;
}
.par4{
   display: inline-block;
   margin-left: 10px;
   font-size: 13px;
}
