.yhtx{
    height: 130px;
    background-color: #f4f5f9;
    width: 100%;
    padding-top: 35px;
}
.yhtx img{
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2px;
}
.bgimg{
    height: 75px;
    width: 75px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}
.myinpt{
    height: 20px;
    width: 80%;
    border: none;
    background-color: #fff;
    padding: 0 20px;
    line-height: 20px;
}
.inpdiv{
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    padding-left: 20px;
    font-size: 14px;
    color: #595757;
}
.fxbtn{
    width: 90%;
    background-color: #f0373d;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
    margin-top: 60px;
}
.fxbtn1{
    width: 90%;
    background-color: #f0373d;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
    margin-top: 14px;
}
.sjtx{
    height: 200px;
    background-color: #f4f5f9;
    width: 100%;
    padding-top: 40px;
}
.sjtx img{
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2px;
}
.sjtx p{
    font-size: 16px;
    color: #898989;
    margin-top: 15px;
}
.myffp{
    background-color: #fff;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #f4f5f9;
    padding-top: 10px;
}
.topp{
    font-size: 14px;
    color: #231815;
    margin: 0;
    margin-bottom: 5px;
}
.btp{
    font-size: 12px;
    color: #898989;
    margin: 0;
}
.myffp img{
    height: 25px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    width: 27px;
}
.bwtom{
    width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.form-group{
    margin-bottom: 10px;
}
.fxr{
    margin: 0 auto;
    height: 60px;
    display: block;
    margin-top: 50px;
}
.fxr1{
    color: #231815;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.fxr2{
    color: #898989;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
