.no-load {
	margin:80px auto;
}
.no-load div {
	background-position:43%;
	margin-bottom:15px;
}
.org-group {
	color:#595757;
	font-size:18px;
}
.top-banners {
	height:63px;
	padding:0px 10px;
}
.top-banners .btn {
	border:0px;
}
.hei{height: 60px;padding: 10px;border-bottom: 1px solid #dadadb;background-color: #fff;}
.wkp{font-size: 13px;color: #898989;margin-bottom: 5px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;width: 280px;display: block;}
.nowk{height: 90px;background-color: #fff;padding: 10px;}
.np1{font-size: 13px;color: #b5b5b6;}
.np2{font-size: 35px;color: #231815;float: right;}
