<nav class="navbar1 navbar-inverse navbar-fixed-bottom" ng-controller="NavbarCtrl" ng-hide="hideBar">
  <table class="table-pt">
    <tr>
      <td ui-sref-active="active" style="width: 33.3%;" class="pt-bar-ico bar-group">
        <a ui-sref="main"><span class="tyspan">火爆拼团</span></a>
      </td>
      <td ui-sref-active="active" style="width: 33.3%;" class="pt-bar-ico bar-my-order">
        <a class="baba" ui-sref="order.list"><span class="tyspan">我的订单</span></a>
      </td>
      <td ui-sref-active="active" style="width: 33.3%;" class="pt-bar-ico bar-more">
        <a ui-sref="help.more"><span class="tyspan">更多</span></a>
      </td>
    </tr>
  </table>
</nav>
