.btn-play {
  border-radius:30px;
  height: 60px;
  width: 60px;
  margin-top: 10px;
}
.state {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background: #D2CFCF;
  color: #1E15A1;
  padding: 10px;
  font-size: large;
}