.user-redpacket{
    background-color: #F4F5F9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .bill{
        height: 60px;
        padding: 10px;
        border-bottom: 1px solid #dadadb;
        background-color: #FFFFFF;
        .wkp{
            font-size: 13px;
            color: #898989;
            margin-top: 0;
            margin-bottom: 5px;
            overflow:hidden; 
            text-overflow:ellipsis; 
            white-space:nowrap;
            width: 280px;
            display: block;
        }
        .span1{
            font-size: 13px;
            color: #898989;
        }
        .span2{
            float: right;
            font-size: 20px;
            color: #231815;
        }
    }
    .no-bill{
        background-color: #F4F5F9;
        .nowk{
            height: 90px;
            background-color: #fff;
            padding: 10px;
            .np1{
                float: left;
                font-size: 13px;
                color: #b5b5b6;
            }
            .np2{
                font-size: 35px;
                color: #231815;
                float: right;
                margin-bottom: 0px;
            }
        }
    }
    .graybox{
        height: 200px;
        background: #F4F5F9;
    }
}


