.pintuan-icon {
	height: 57px;
	width: 57px;
	background:url("http://static.ifindu.cn/91pintuan/images/c_pintuan_icon.png");
	background-repeat: no-repeat;
	background-size: 57px 57px;
	background-position: center;
}
.illu-left {
	margin:0px;
}
.illu-right {
	padding-left:10px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.btn-pintuan {
	margin-top:20px;
	width:100%;
	height:42px;
	text-align:center;
	background:#EF4453;
	font-size:18px;
	font-weight:bold;
	color:white;
	border-radius:20px;
	border:0;
}
