
<div class="cont_text11" style="overflow:auto;margin-top:-10px;">
<div style="color:#595757;font-size: 17px;">{{group.commodity.name}}</div>
<div class="row">
  <span class="yuanjia">
      <span class="fontsize2">
        原价{{group.commodity.price | currency}}
      </span>
  </span>
</div>
<div>
  <img class="mymg" src="http://91pt.oss-cn-beijing.aliyuncs.com/home/ymyimg/365147173710008178.png"/>
  <div style="float: left;">
        <div ng-repeat="ldprc in group.commodity.ladder.prices track by ldprc.people">
          <div style="border-color:red;padding:3px;" ng-class="{'bg-primary1': ldprc.people === money.people}">
            <span>{{ldprc.people}}人以上</span>
            <span ng-class="{'text-primary1': ldprc.people !== money.people}">{{ldprc.price | currency}}</span>
          </div>
        </div>
  </div>
  <div class="col-xs-4 no-float display-table-cell" style="vertical-align: top;">
    <table class="table" style="margin-bottom:0;">
      <tbody>
        <tr ng-repeat="ldprc in group.commodity.ladder.prices track by ldprc.people">
          <td style="border:none;padding:3px;" >
            &nbsp;<span style="color: #f0373d;" ng-if="ldprc.people === money.people">(当前价)</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div ng-include="'app/group/group.sku.html'"></div>

<div class="box_text1">
<div class="row">
  <div class="col-xs-7">
    <div class="text-left fontsize2 font_margin1">
      <span>团长:{{group.address.name}}</span>
      <span class="text-primary" ng-if="group.commodity.coll">(代收快递)</span>
    </div>
  </div>
  <div class="col-xs-5 text-right">
    <a class="linkLine color_red" ui-sref="partaker.list({id:group.id})"><span class="fontsize1">{{group.num_order}}</span></a>
    <span class="fontsize1">人参团</span><span class="fontsize1"></span>
  </div>
</div>

<uib-progressbar class="progressbar" value="(group.num_order/money.max)*100" style="height:8px;border: none;background-color: #dcdddd;margin: 4px 0;"></uib-progressbar>

<div class="row">
  <div class="col-xs-6"></div>
  <div class="col-xs-6">
    <div class="text-right text_light fontsize1">
      <div>
        <span ng-if="isBefore">剩余时间</span>
        <span am-time-ago="group.time_end" ng-if="isBefore">0</span>
        <span ng-if="!isBefore">已结束</span>
      </div>
    </div>
  </div>
</div>

</div>



