.page {
	padding:5px;
	margin:0px;
}
.panel-list {
	background:#EFEFEF;
}
.box_right {
	padding:2px 2px 2px 5px;
	font-size:12px;
}
.box-margin {
	margin-bottom:0px;
	width:auto;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
